.grid-container {
  display: grid;
  width: 900px;
  grid-template-columns: 150px 600px 300px;
  grid-template-rows: 50px 250px 100px 150px;
}

.grid-nav-top {
  display: flex;
  align-items: center;
  background-color: Gainsboro;
  padding-left: 20px;
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-nav-left {
  background-color: #97ebfc ;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 20px 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: end;
}

.grid-main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-submain {
  background-color: #fce4e0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: end;
}

.grid-right-block1 {
  background-color: #ffffa8;
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-right-block2 {
  background-color: #d7ffa8;
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: end;
}

.title {
  font-family: sans-serif;
  font-size: 1.5em;
}

text {
  font-family: sans-serif;
}

.clipped {
  /* referencing path from external SVG */
  clip-path: url("#clipMask");
  -webkit-clip-path: url("#clipMask");
}


/* The toggle switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle input:checked + .slider {
  background-color: #fb4c52;
}

.toggle input:focus + .slider {
  box-shadow: 0 0 1px #fb4c52;
}

.toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Divider */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 5px;
}

.strike > span:after {
  left: 100%;
  margin-left: 5px;
}